a.nav-link, a.navbar-brand{
    cursor: pointer;
}

span.fc-purple{
    color:#7D6E99;
}

span.fc-teal{
    color:#5E8D87;
}

p, footer{
    color: #bcbbbb;
}

h1, h2, h3, h4, h5, .navbar-brand, .navbar-brand:hover{
    color: #E0E0E0;
}

div.border-bottom{
    --bs-border-color: #bcbbbb;
}

img.border{
    --bs-border-color: #64748B;
}

a.social-btn{
    --bs-btn-color: #7D6E99;
    --bs-btn-active-color:#bcbbbb;
    --bs-btn-active-bg:#1F1F1F;
    --bs-btn-active-border-color:#bcbbbb;
    --bs-btn-border-color: #7D6E99;
    --bs-btn-hover-bg:#bcbbbb;
    --bs-btn-hover-border-color:#bcbbbb;
    --bs-btn-hover-color: #1F1F1F;
}

a.cv-btn{
    --bs-btn-bg: #7D6E99;
    --bs-btn-border-color: #7D6E99;
    --bs-btn-active-color: #1F1F1F;
    --bs-btn-active-bg:#bcbbbb;
    --bs-btn-hover-bg: #1F1F1F;
    --bs-btn-hover-color: #bcbbbb;
    --bs-btn-hover-border-color: #7D6E99;
    --bs-btn-color: #121212;
}


footer{
    background-color: #121212
}

nav{
    background-color: #121212
}

body{
    background-color: #1F1F1F
}

div.content-loading{
    filter: blur(4px);
}

div.content-loaded{
    filter: blur(0px);
    transition: filter 0.4s;
}
