*{ /*viene applicato un font custom a tutti gli elementi, compresi gli pseudo-elementi e gli pseudo-classi. */
    font-family: "Inter Tight", sans-serif;
}

.collapsing, .show, .collapse{
    transition: none !important;
}

/* colori per il tema scuro */
footer{
    background-color: #121212
}

nav{
    background-color: #121212
}

body{
    background-color: #1F1F1F
}

h1, h2, h3, h4, h5, h6, .whiteText{
    color: #E0E0E0;
}

p, footer{
    color: #bcbbbb;
}

a.nav-link{
    cursor: pointer;
}

a.navbar-brand{
    cursor: pointer;
    color:#E0E0E0;
    transition: color 0.2s ease-in-out;
}

a.navbar-brand:hover, a.whiteText:hover{
    color:#bcbbbb;
    transition: color 0.2s ease-in-out;
}

span.fc-purple{
    color:#7D6E99;
}

span.fc-teal{
    color:#5E8D87;
}

div.border-bottom{
    --bs-border-color: #bcbbbb;
}

img.border{
    --bs-border-color: #666666;
}

figure.border{
    --bs-border-color: #5f5e5e;
}


/* colori per i pulsanti*/
a.social-btn{
    --bs-btn-color: #7D6E99;
    --bs-btn-active-color:#bcbbbb;
    --bs-btn-active-bg:#1F1F1F;
    --bs-btn-active-border-color:#E0E0E0;
    --bs-btn-border-color: #7D6E99;
    --bs-btn-hover-bg:#bcbbbb;
    --bs-btn-hover-border-color:#bcbbbb;
    --bs-btn-hover-color: #1F1F1F;
}

a.cv-btn:hover, a.cv-btn:focus-visible{
    span.icon-color{
        color: #7D6E99;
        transition: color 0.3s;
    }
}

a.cv-btn{
    --bs-btn-bg: #7D6E99;
    --bs-btn-border-color: #7D6E99;
    --bs-btn-active-color: #1F1F1F;
    --bs-btn-active-bg:#bcbbbb;
    --bs-btn-hover-bg: #1F1F1F;
    --bs-btn-hover-color: #bcbbbb;
    --bs-btn-hover-border-color: #7D6E99;
    --bs-btn-color: #121212;
    span.icon-color{
        color: #121212;
        transition: color 0.3s;
    }
}

.bg-card{
    background-color: #2A2A2A;
}

.bg-figure{
    background-color: #313131;
}

div#section{
    overflow-x: hidden;
}


/* Animazioni per le colonne */
div.left-col-hidden, div.left-col-hidden-g{
    transform: translateX(-1200%) ;
}

div.right-col-hidden, div.right-col-hidden-g{
    transform: translateX(1200%) ;
}

div.col-show-anim, div.col-show-anim-g{
    transform: translateX(0%) ;
    transition: transform 1s ease-out;
}

div.right-col-show, div.left-col-show, div.right-col-show-g, div.left-col-show-g{
    transform: translateX(0%) ;
}

div.left-col-hide, div.left-col-hide-g{
    transform: translateX(-1200%) ;
    transition: transform 1.6s ease-in;
}

div.right-col-hide, div.right-col-hide-g{
    transform: translateX(1200%) ;
    transition: transform 1.6s ease-in;
}

div.text-hide{
    opacity: 0;
    filter: blur(2px);
    transition: opacity 0.6s ease-out, blur 10.5s ease-out;
}

div.text-show{
    opacity: 1;
    filter: blur(0px);
    transition: opacity 0.6s ease-in;
}

div.text-hidden{
    opacity: 0;
}

/* Animazioni per le immagini */
img.img-fluid:hover{
    cursor: pointer;
    filter: brightness(0.8);
    transition: filter 0.2s ease-in;
}

img.img-fluid{
    filter: brightness(1);
    transition: filter 0.2s ease-out;
}
