footer{
    background-color: #121212
}

nav{
    background-color: #121212
}

body{
    background-color: #1F1F1F
}

h1, h2, h3, h4, h5, h6{
    color: #E0E0E0;
}

p, footer{
    color: #bcbbbb;
}

a.nav-link{
    cursor: pointer;
}

a.navbar-brand{
    cursor: pointer;
    color:#E0E0E0;
    transition: color 0.2s ease-in-out;
}

a.navbar-brand:hover{
    color:#bcbbbb;
    transition: color 0.2s ease-in-out;
}

span.fc-purple{
    color:#7D6E99;
}

span.fc-teal{
    color:#5E8D87;
}

div.border-bottom{
    --bs-border-color: #bcbbbb;
}

img.border{
    --bs-border-color: #64748B;
}

a.social-btn{
    --bs-btn-color: #7D6E99;
    --bs-btn-active-color:#bcbbbb;
    --bs-btn-active-bg:#1F1F1F;
    --bs-btn-active-border-color:#E0E0E0;
    --bs-btn-border-color: #7D6E99;
    --bs-btn-hover-bg:#bcbbbb;
    --bs-btn-hover-border-color:#bcbbbb;
    --bs-btn-hover-color: #1F1F1F;
}

a.cv-btn:hover, a.cv-btn:focus{
    span.icon-color{
        color: #7D6E99;
        transition: color 0.3s;
    }
}

a.cv-btn{
    --bs-btn-bg: #7D6E99;
    --bs-btn-border-color: #7D6E99;
    --bs-btn-active-color: #1F1F1F;
    --bs-btn-active-bg:#bcbbbb;
    --bs-btn-hover-bg: #1F1F1F;
    --bs-btn-hover-color: #bcbbbb;
    --bs-btn-hover-border-color: #7D6E99;
    --bs-btn-color: #121212;
    span.icon-color{
        color: #121212;
        transition: color 0.3s;
    }
}

.bg-purple{
    background-color: #2A2A2A;
}

div#section{
    overflow-x: hidden;
}

div.left-col-hidden{
    transform: translateX(-1200%) ;
}

div.right-col-hidden{
    transform: translateX(1200%) ;
}

div.col-show-anim{
    transform: translateX(0%) ;
    transition: transform 1s ease-out;
}

div.right-col-show, div.left-col-show{
    transform: translateX(0%) ;
}

div.left-col-hide{
    transform: translateX(-1200%) ;
    transition: transform 1.6s ease-in;
}

div.right-col-hide{
    transform: translateX(1200%) ;
    transition: transform 1.6s ease-in;
}

